
/*Estilo index.html*/
.container {
	margin: 0 auto;
	width: 940px;
}

body {
	color: #333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logotipo {
	position: static;
	top: 20px;
	left: 50px;
}

.sacola {
	background: url(../img/sacola.png) no-repeat top right; 

	font-size: 14px;	
	text-align: right;
	padding-right: 36px;
	width: 140px;
	padding-top: 8px;
	position: absolute;	
	right: 0;
	top: 8px;

}

.menu-opcoes ul {
	font-size: 15px;
}

.menu-opcoes a {
	color: #036;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

header {
	position: relative;
}

.menu-opcoes {
	position: absolute;
	bottom: 0;
	right: 0;
}

.busca, .menu-departamentos{
	background-color: #dcdcdc;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 10px;
	width: 230px;	
	float: left;
	clear: left;
}

.busca h2, .busca form .menu-departamentos h2{
	margin: 10px;
}

.menu-departamentos li {
	background-color: #FFFFFF;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: #333;
	text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.destaque {
	margin-top: 10px;
}

.menu-departamentos {
	margin-top: 10px;
	padding-bottom: 10px;
}
/*4.8 - Display inline-block*/